[Unit]
Description=Garage authorizer
After=network.target auditd.service

[Service]
Environment=LOG_TIMESTAMP=false
User=pi
Group=pi
WorkingDirectory=/home/pi/garage-authorizer-node
Restart=on-failure
ExecStart=/opt/node/bin/node garage-authorizer.js

[Install]
WantedBy=multi-user.target
